<section class="thirteen columns">
    <h1>Awards and Achievements</h1>
    <article>
        <header>
            <h1>High Honour Role (98% Top 6 Course Average)</h1>
            <span><time>2021</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>DECA Provincial Finalist, Business Finance Series</h1>
            <span><time>2021</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>DECA Provincial Case Award, Business Finance Series</h1>
            <span><time>2021</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Queen's Model United Nations Conference Honourable Mention</h1>
            <span><time>2021</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>DECA Regional Top 60, Business Finance Series</h1>
            <span><time>2020</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Taekwondo Black Belt</h1>
            <span><time>2020</time></span>
        </header>
    </article>
</section>
