<section class="thirteen columns">
    <h1>University Clubs</h1>
    <article>
        <p>
            University of Toronto Concrete Toboggan Team Member
        </p>
    <h1>High School Clubs</h1>
        <p>
            <strong>Head Engineer</strong> - Engineering Club<br>
            <strong>Co-President</strong> - The Flounder Satirical Newspaper<br>
            <strong>Business Finanace Competitor</strong> - DECA<br>
            <strong>Delegate</strong> - Model United Nations<br>
        </p>
    </article>
</section>