<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Commencing the Grade 12 Math and Computer Science (MaCS) Program at William Lyon Mackenzie Collegiate Institute</h1>
            <span><time>2017 - 2021</time></span>
        </header>
        <p>
            <em>98% Top 6 Average</em><br>
            <em>Honour Role Throughout Every Semester of High School</em><br>
            The MaCS Program is an enriched high school program of 90 academically inclined students. Students in the program get to take MaCS enriched courses, AP courses, as well as take courses in earlier years.
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>University of College London</span>
            <span><address>London, UK</address><time>2007 to 2011</time></span>
        </header>
        <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>
    </article>
</section>
