<section class="thirteen columns">
    <h1>Education and Training</h1>
    <article>
        <header>
            <h1>Completing Grade 12 of the <u><a href="http://wlmac.ca/macsprogram/" target="_blank" rel="noopener noreferrer">Math and Computer Science (MaCS) Program at William Lyon Mackenzie Collegiate Institute</a></u></h1>
            <span><time>2017 - 2021</time></span>
        </header>
        <p>
            <em>98% Top 6 Course Average</em><br>
            <em>Honour Role Throughout Every Semester of High School</em><br>
            The MaCS Program is an enriched high school program of 90 academically inclined students. Students in the program get to take MaCS enriched courses, AP courses, as well as take courses in earlier years.
        </p>
    </article>
    <article>
        <header>
            <h1>Level Two Certified Hockey Canada Referee</h1>
            <span><time>2017 - 2020</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Advanced Placement (AP) Credit in Computer Science (5/5)</h1>
            <span><time>2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Kidproof Safety's Babysitter's Training Program</h1>
            <span><time>2016</time></span>
        </header>
    </article>
</section>
