<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Service Technician - <u><a href="https://skiisandbiikes.com/" target="_blank" rel="noopener noreferrer">Skiis & Biikes</a></u></h1>
            <span><address>Toronto, Canada</address><time>May 2021 - September 2021</time></span>
        </header>
        <p>I worked as a mechanic at Skiis & Biikes, fixing all sorts of bikes. I've learned a lot and working in the shop was lots of fun.</p>
    </article>
    <article>
        <header>
            <h1>Sales - <u><a href="https://gearsbikeshop.com/torontoleaside/" target="_blank" rel="noopener noreferrer">Gears Bike Shop Leaside</a></u></h1>
            <span><address>Toronto, Canada</address><time>June - September 2020</time></span>
        </header>
        <p>I had a great experience at Gears this past summer. Especially considering it was one of the busiest summers for bikes yet. My official role was sales, but with the service department so busy and being sold out of many bikes, I was eager to spend some time in the workshop. This taught me a lot about servicing, building, and fixing bikes. I sold bikes, sold bike accessories, fixed bikes, worked the cash, ordered parts, and cleaned the store.</p>
    </article>
    <article>
        <header>
            <h1>Counsellor - <u><a href="https://campgreenacres.com/" target="_blank" rel="noopener noreferrer">Camp Green Acres</a></u></h1>
            <span><address>Toronto (Markham), Canada</address><time>July - 2019</time></span>
        </header>
        <p>I worked as a summer camp counselor at Camp Green Acres in the summer of 2019. More specifically I was a counselor in the all star sports camp, so I, along with 2 other co-counselors, took my cabin of six, seven, and eight year olds around to different sports throughout the day. I helped keep the cabin engaged and gave campers tips on how to play the various sports as well.</p>
    </article>
    <article>
        <header>
            <h1>Hockey Referee - <u><a href="https://fhha.org" target="_blank" rel="noopener noreferrer">Forest Hill Hockey Association</a></u></h1>
            <span><address>Toronto, Canada</address><time>2017 - 2020</time></span>
        </header>
        <p>I refereed hockey games at Forest Hill Hockey Association for players aged six to sixteen. I refereed at the house league and select level games.</p>
    </article>
</section>
