<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Sales - <u><a href="https://gearsbikeshop.com/torontoleaside/" target="_blank" rel="noopener noreferrer"> Gears Bike Shop Leaside</a></u></h1>
            <span><address>Toronto, Canada</address><time>June - September 2020</time></span>
        </header>
        <p>I had a great experience at Gears this past summer. Especially considering it was one of the busiest summers for bikes yet. My official role was sales, but with the service department so busy and being sold out of many bikes, I was eager to spend some time in the workshop. I sold bikes, sold bike accessories, fixed bikes, worked the cash, ordered parts, and cleaned the store.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Glasgow, UK</address><time>2014 to 2015</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of Glasgow, Glasgow, UK</address><time>2013 to 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
</section>
