<section class="thirteen columns">
    <h1>Volunteer Experience</h1>
    <article>
        <header>
            <h1>Out of the Cold Volunteer</h1>
            <span><address>Holy Blossom Temple</address><time>2014 - 2020</time></span>
        </header>
        <p>
            I setup tables, meals, and beds for those in need weekly throughout the winters.
        </p>
    </article>
    <article>
        <header>
            <h1>Baking for the Ve'ahavta Van</h1>
            <span><address>Holy Blossom Temple</address><time>2018 - 2020</time></span>
        </header>
        <p>
            The Ve'ahavta Van provides food and supplies to those in need throughout Toronto. I baked food for The Ve'ahavta Van weekly.
        </p>
    </article>
    <article>
        <header>
            <h1>Math Peer Tutor</h1>
            <span><address>William Lyon Mackenzie Collegiate Institute</address><time>2020 - 2021</time></span>
        </header>
        <p>
            I am a math peer tutor at my school. Each semester I meet about once a week to help one to two students understand the math that they are learning in class and succeed in their math class.
        </p>
    </article>
    <article>
        <header>
            <h1>MaCS Peer Mentor</h1>
            <span><address>William Lyon Mackenzie Collegiate Institute</address><time>2020 - 2021</time></span>
        </header>
        <p>
            I am a peer mentor for grade 9 MaCS students. I help them with the transition to high school, meet new friends, and help them choose courses for grade 10, as well as answer any questions about high school that they may have.
        </p>
    </article>
    <article>
        <header>
            <h1>Volunteered Building a School in Kenya with We Charity</h1>
            <span><address>Kenya</address><time>2018</time></span>
        </header>
        <p>
            I went to kenya for the month of July and helped build a school, as well as engage in community activities and learn about life there.
        </p>
    </article>
    <article>
        <header>
            <h1>Volunteered Teaching Taekwondo in Kenya</h1>
            <span><address>Kenya</address><time>2016</time></span>
        </header>
        <p>
            I went to my Taekwondo school's sister school in a remote village in Kenya with a small group of other experienced martial artists to teach at the dojang there. I also led community activities and learned about the community.
        </p>
    </article>
    <article>
        <header>
            <h1>Musical Coffee House Fundraisers</h1>
            <span><address>Toronto</address><time>2016 - 2017</time></span>
        </header>
        <p>
            I raised money to pay for two students to go to a good high school in Kenya. I raised money through two musical coffee house where people came together to fund-raise and play and listen to music together.
        </p>
    </article>
</section>