<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Out of the Cold Volunteer</h1>
            <span><address>Holy Blossom Temple</address><time>2014 - 2020</time></span>
        </header>
        <p>
            I prepared warm meals and beds for those in need weekly through the winters.
        </p>
    </article>
    <article>
        <header>
            <h1>Baking for the Ve'ahavta Van</h1>
            <span><address>Holy Blossom Temple</address><time>2018 - 2020</time></span>
        </header>
        <p>
            The Ve'ahavta Van provides food and supplies to those in need throughout toronto. I baked food for The Ve'ahavta Van weekly.
        </p>
    </article>
    <article>
        <header>
            <h1>Math Peer Tutor</h1>
            <span><address>William Lyon Mackenzie Collegiate Institute</address><time>2020 - 2021</time></span>
        </header>
        <p>
            I am a math peer tutor at my school. Each semester I meet about once a week to help one to two students understand the math that they are learning in class and succeed in their math class.
        </p>
    </article>
</section>